<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Argentina-Qatar-2022</title>
</head>
<body>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <td>
            Nombre
          </td>
          <td>
            Apellido
          </td>
          <td>
            Posición
          </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Lionel
            </td>
            <td>
                Messi
            </td>
            <td>
                Posicion
            </td>
        </tr>
        </tbody>
      </table>    <h1>Equipo2022</h1>
    <%= JSON.stringify(titulares) %> 
    <% titulares.forEach(function(titul{ %>
        <li><% jugador.getNombre()%></li> 
    <% }) %>

    <div>
        <table border="1">
   
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>        <caption>Selección Argentina:</caption>
            <tr>
                <th>Estado Jugador</th>
                <th>Nombre</th>
          <th>Apellido</th>
          <th>Peso</th>
          <th>Estatura</th>
          <th>Fecha de Nacimiento y Edad</th>
            </tr>
            <tr>
                <td>ENTRENADOR</td>
                <td></td>
            </tr>
        </table>
    </div>
    
</body>
</html>