<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programcion 2</title>
</head>
<body>
    <div align="center"><h1>Selección Argentina</h1>
    <h2>Proyecto Parcial Programacion</h2></div>
<div align="center">
<ul>
    <li  text-align: center style="list-style: none;"><a href="equipo_titular" align="left">Ir a Equipo Titular</a></li><br>
   <li  text-align: center style="list-style: none;"><a href="equipo_suplente" align="center">Ir a Equipo Suplente</a></li><br>
    <li  text-align: center style="list-style: none;"><a href="singleton" align="right">Ir a Singleton</a></li><br>
</ul>
</div>
</body>
</html>